#logo-nav {
  width: 16em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3em 4em;
}

#link-container {
  display: block;
  margin: auto 0;
}

.sign-up-btn, .login-btn {
  text-decoration: none;
  margin-left: 2em;
  font-weight: 400;
  color: #000;
}

#sm-link-container {
  display: none;
  margin: auto 0;
}

.login-btn {
  font-weight: 400 !important;
  padding: .8em 1em;
  background-color: #004c9b;
  color: #FFF;
  border-radius: 10px;
}

@media (max-width: 900px) {
  header {
      font-size: 1em;
  }

  #link-container {
    display: none;
  }

  #sm-link-container {
    display: block;
  }

  .sign-up-btn, .login-btn {
    margin: 0;
    font-size: .9em;
  }
}

@media (max-width: 500px) {
  header {
      font-size: 0.9em;
      padding: 2em;
  }

  .MuiPaper-root {
    font-size: 0.9em;
  }

  .sign-up-btn, .login-btn {
    font-size: .8em;
  }
}

@media (max-width: 350px) {
  header {
      font-size: 0.8em;
  }

  .MuiPaper-root {
    font-size: 0.8em;
  }
}
