@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: Montserrat;
}

.subtitle-text {
  font-size: 0.9em;
  color: #999;
}

.primary-tmu-colour {
  color: #004c9b;
}

.secondary-tmu-colour {
  color: #FFDC00;
}

.primary-button {
  padding: 0.8em 2em;
  border: none;
  border-radius: 20px;
  background: #004c9b;
  color: #FFF;
  font-size: 0.8em;
  vertical-align: middle;
  cursor: pointer;
}

/* apply to the parent div element for each page */
.main-page-container {
  padding: 0 8em;
}

@media (min-width: 1400px) {
  .main-page-container {
    padding: 0 12em;
  }  
}

@media (max-width: 900px) {
  .main-page-container {
    padding: 0 4em;
  }
}

@media (max-width: 750px) {
  .main-page-container {
    font-size: 0.9em
  }
}

@media (max-width: 500px) {
  .main-page-container {
    font-size: 0.8em;
    padding: 0 2em;
  } 
}
