.nav-icon {
  font-size: 1.3em;
}

.nav-btn {
  text-decoration: none;
  margin-left: 2em;
  font-weight: 400;
  color: #000;
}

.nav-btn:hover {
  font-weight: 500;
}

#profile-image {
  display: inline-block;
  margin-right: 0.4em;
  border-radius: 20px;
}

@media (max-width: 900px) {
  #profile-image {
    display: block;
    margin: 0 auto;
    padding-bottom: 0.4em;
  }

  .nav-btn {
    font-size: 0.9em;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .nav-btn {
    font-size: 0.8em;
  }
}
